---
title: "AC Education: Unlimited usage on your server"
class_name: enterprise
active_menu_item: product
active_submenu: enterprise
active_submenu_item: /product/aceducation
hide_title: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li class="active"><a href="/product/enterprise">Enterprise</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/developers">Docs</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="container">
      <div class="clearfix">
        <div>
          <%= image_tag 'products/enterprise.gif', :width => 80, :alt => 'Application Craft, but installed on your own servers' %>
        </div>
        <div>
          <h1>AC Education</h1>
          <h2>Run Application Craft freely on your own servers</h2>
        </div>
      </div>
    </div>
  </header>
<% end %>

<p>Application Craft is one of the very best ways available to teach students about programming. It is great for letting them build Apps that run on Desktops, Tablets and Smartphones. For student developers, it also runs out-of-the-box with nothing to install whatsoever.</p>

<p>Students can see results really quickly, but it doesn't limit their ability to take on more and more advanced challenges.</p>

<h2>Sign up or Enquire</h2>
  <a href="#toc_1">Click here</a> to inquire or sign up.
</h2>

<h2>Your servers ...</h2>
<p>We deliver the system as an Ubuntu Virtual Machine image in Virtual Box or VM-Ware format. We also offer an Ubuntu package.</p>

<h2>... or run in the Cloud on Amazon EC2</h2>
<p>A really good altnernative is to run on Amazon AWS. We supply Amazon AMIs so you can be up, running and teaching in 5 minutes.</p>

<h2>What you need to know ...</h2>
<ul>
  <li>AC Education - Teaching Edition costs just $999 per year including almost daily updates. There are no limits on developer seats. The only limitation is that it can be used for teaching purposes only.</li>
  <li>AC Education - Full Edition costs $1'999 per year and you can use it to build and run administrative Apps as well as for teaching purposes.</li>
  <li>We run a special education referral program allowing you to get up to 100% off subsequent licenses.
  <li>If you stop paying, you can carry on using it but you don't get any updates.</li>
  <li>Look for our dedicated AC Education Forum for specialized support from the commnunity, also closely monitored by us.</li>
  <li>The license is the same as the <a href="/legal/enterprise-license">Enterprise License</a>, but with some extra bits to accommodate the above differences.</li>
</ul>

<h2 id="toc_1">Sign Up or Contact us for More Details</h2>

<p>If you want to sign up for AC Education or just want some more information, just complete the form below and tell us where you're from.</p>

<script src="http://ac-static.applicationcraft.com/ac/1.20/live/userlive.js" type="text/javascript"></script>
<script type="text/javascript">
  waInitForm("c6bb97f9-e26d-49ee-83dc-043209afb2bc", 650, 400, null, null, null, "http://ac.applicationcraft.com/live.html");
</script>

