---
title: "AC Pro: Visual Development in the Cloud"
active_menu_item: product
class_name: products
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li><a href="/product/enterprise">Enterprise</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="overview-sections">
  <div class="container">
    <h1>Available in the cloud or install on your servers</h1>

    <ul class="clearfix">
      <li>
        <a href="#ui-builder">
          <h3>UI Builder</h3>
          <p>Easy and fast with Drag and Drop.</p>
        </a>
      </li>
      <li>
        <a href="#code-editor">
          <h3>Code Editor</h3>
          <p>Integrated code editing for all.</p>
        </a>
      </li>
      <li>
        <a href="#deployment">
          <h3>Deployment</h3>
          <p>In the browser or build for mobile.</p>
        </a>
      </li>
      <li>
        <a href="#details">
          <h3>In Detail</h3>
          <p>Check out our features in detail...</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<a name="ui-builder"></a>
<section id="overview-ui-builder" class="overview-section">
  <div class="container clearfix">
    <%= image_tag 'products/ui-builder-screen.png', :width => 389, :height => 367, :align => "left", :alt => 'Build your UI with drag-and-drop visual development' %>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Build your UI</h1>
      <p>Whether you're building for Desktop or Mobile, just drag-and-drop your way to beautiful, responsive HTML5 front-ends and applications. A huge collection of amazing widgets are all yours via our unique visual development environment.</p>

      <ul class="clearfix">
        <li>
          <h4>Dozens of widgets</h4>
          <p>From labels to charts, just drag and drop.</p>
        </li>
        <li>
          <h4>Integrated Debugging</h4>
          <p>Debug your apps from within the IDE and during runtime.</p>
        </li>
        <li>
          <h4>All within your browser</h4>
          <p>Nothing to download - nothing to install. It's all in the cloud.</p>
        </li>
        <li>
          <h4>Incredibly easy to use</h4>
          <p>It's all visual, and so easy to use for developers of all skill levels.</p>
        </li>
      </ul>
    </article>
  </div>
</section>

<section id="price-banner" class="clearfix">
  <div class="container">
    <div>only <span>$9</span> per month</div>
    <div class="nofade inverse"><a href="/get-started">
      <p>Try it for Free!</p>
      <p><span>&#x2605;</span> 14 day free trial <span>&#x2605;</span></p>
    </a></div>
    <div>no credit card necessary</div>
  </div>
</section>

<a name="code-editor"></a>
<section id="overview-code-editor" class="overview-section">
  <div class="container clearfix">
    <%= image_tag 'products/code-editor-screen.png', :width => 414, :height => 460, :align => "right", :alt => 'Write javascript code for the client and server' %>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Code for Client &amp; Server</h1>
      <p>You won't believe how easy it is to write javascript code for your applications. And you will be amazed at how easily you can write server side javascript without anything to install or paradigms to learn.</p>

      <ul class="clearfix">
        <li>
          <h4>Syntax highlighting</h4>
          <p>Every line of your code is highlighted according to its syntax.</p>
        </li>
        <li>
          <h4>Code Explorer/Outline</h4>
          <p>Visualize your app and its code with the code explorer and outline.</p>
        </li>
        <li>
          <h4>Easy to Use Powerful API's</h4>
          <p>We've created custom API's, giving you the power to write amazing apps.</p>
        </li>
        <li>
          <h4>Server Side Javascript</h4>
          <p>Write secure server-side code using the same language you use on the client.</p>
        </li>
        <li>
          <h4>Database Integration</h4>
          <p>Integrate with any database extremely easily.</p>
        </li>
      </ul>
    </article>
  </div>
</section>

<a name="deployment"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    <%= image_tag 'products/deployment-screen.png', :width => 439, :height => 463, :align => "left", :alt => 'Deploy as a web app and to the App Stores.' %>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Deployment</h1>
      <p>All applications you build with Application Craft will run as Web Apps, allowing yo to run them anywhere. However, thanks to our <a href="/product/phonegap-mobile-build">AC Mobile Build</a> technology, you can also compile your app for the App Stores, and integrate your app with the device.</p>

      <ul class="clearfix">
        <li>
          <h4>Want a Web App?</h4>
          <p>Any desktop or mobile app built with AC will run in any browser.</p>
        </li>
        <li>
          <h4>Want to deploy to an App Store?</h4>
          <p>AC Mobile build incorporates Phonegap technology and lets you build with a single button press.</p>
        </li>
        <li>
          <h4>Run on our servers or yours.</h4>
          <p>Apps are deployed and run on our platform at no extra cost, but you can also download and run them on your own servers.</p>
        </li>
        <li>
          <h4>AC Enterprise: on your server</h4>
          <p>For those who want to run the whole AC experience on their own servers and within your firewall.</p>
        </li>
      </ul>
    </article>
  </div>
</section>

<a name="details"></a>
<section id="overview-detail">
  <div class="container clearfix">
    <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
    <h3>In Detail...</h1>

    <ul class="clearfix">
      <li>
        <h3>UI Builder</h3>
        <ul>
          <li>
            <h4>Drag &amp; Drop</h4>
            <p>Everything you do is drag and drop but it caters for all form factors and responsive design</p>
          </li>
          <li>
            <h4>Widget Based</h4>
            <p>We have lots of widgets but advanced developers can build their own.</p>
          </li>
          <li>
            <h4>Mobile &amp; Desktop</h4>
            <p>Your Apps will run on any platform capable of displaying HTML5. We have many widgets for all platforms, including the full jquerymobile widget set.</p>
          </li>
          <li>
            <h4>Download your Apps</h4>
            <p>You can run AC Apps on your own server. Provided they do not access AC Server features, they are completely independent of the AC platform.</p>
          </li>
          <li>
            <h4>Export Apps</h4>
            <p>Export your Apps for backup purposes or to import into another Account.</p>
          </li>
        </ul>
      </li>
      <li>
        <h3>Client Side</h3>
        <ul>
          <li>
            <h4>Full Code Editor</h4>
            <p>All the features you would expect from the best desktop code editors.</p>
          </li>
          <li>
            <h4>Powerful Client Side API</h4>
            <p>Your UI and client code is linked using Events (remember Visual Basic?). Your Javascript code can access anything it likes but our API makes thing extremely easy.</p>
          </li>
          <li>
            <h4>oAuth Support for Twitter, Facebook, Dropbox etc.</h4>
            <p>oAuth has never been this easy. Not just authentication but also access to APIs like Twitter, Facebook and Dropbox.</p>
          </li>
          <li>
            <h4>Google Analytics baked right in</h4>
            <p>Track user's progress through Apps</p>
          </li>
          <li>
            <h4>Full UI Branding</h4>
            <p>Control the styling, splash screen and your app's appearance.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3>Server Side</h3>
        <ul>
          <li>
            <h4>Server Side Code &amp; API</h4>
            <p>Write server-side javascript right within the same IDE. Nothing to install anywhere, no new paradigms and frameworks to master. Just run.</p>
          </li>
          <li>
            <h4>Secure</h4>
            <p>Sever Side coding allows you to write secure code that you don't want to expose via the client.</p>
          </li>
          <li>
            <h4>Debugger</h4>
            <p>You can debug your server side code just as easily as client side debugging.</p>
          </li>
         <li>
            <h4>Database Integration</h4>
            <p>Our Server Side API allows easy access to all popular relational databases.</p>
          </li>
          <li>
            <h4>Payment Processing</h4>
            <p>We've implemented secure payment processing in our no fuss fashion.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3>Other sides</h3>
        <ul>
          <li>
            <h4>AC Mobile Build</h4>
            <p>We've baked Phonegap/Cordova right into Application Craft for AC Apps and non AC Apps.</p>
          </li>
          <li>
            <h4>iOS and Android Certificate Generation</h4>
            <p>Our platform can generate your Certificates for you.</p>
          </li>
          <li>
            <h4>Powerful Multi Language Apps</h4>
            <p>Allow your Apps to run in any number of languages without any coding. Includes auto-translate feature.</p>
          </li>
          <li>
            <h4>And much more ...</h4>
            <p>There are lots more features designed to make your life as easy as possible.</p>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</section>
