---
title: Just $14
active_menu_item: product
class_name: pricing
full_width: true
---

<nav class="sub drop-shadow">
  <div class="container">
    <ul class="clearfix">
      <li><a href="/product">Overview</a></li>
      <li class="active"><a href="/product/pricing">Pricing</a></li>
      <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
      <li><a href="/product/testimonials">Testimonials</a></li>
      <li><a href="/product/resources">Resources</a></li>
    </ul>
  </div>
</nav>

<section id="pricing-section">
  <div class="container clearfix">
    <article>
      <p>Sign up today and receive full and unrestricted access to the Application Craft platform for 14 days. No credit card is required and you can cancel at any time.</p>
      <p><a href="#">Get started right now &raquo;</a></p>
      </ul>
    </article>

    <article>
      <h3>AC Pro</h3>
      <p>Upgrade your free 14 day trial for only $14 per month, per developer, and you will enjoy our build once, run anywhere platform for developers of all skill levels.</p>
      <p><a href="#">Start your free trial &raquo;</a></p>
      </ul>
    </article>

    <article>
      <h3>AC Enterprise</h3>
      <p>Do you need additional security, or would like to run the Application Craft platform in house? Using Application Craft, you can host our platform on your servers.</p>
      <p><a href="#">Contact us to find out more &raquo;</a></p>
      </ul>
    </article>
  </div>
</section>
