---
title: Just $14
active_menu_item: product
class_name: pricing
full_width: true
meta_keywords: mobile app development tools, mobile app development software, mobile app development platform, application, application developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, android, html5, html 5, ios, ipad, iphone, desktop, windows, blackberry, smartphone, symbian
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li class="active"><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/enterprise">Enterprise</a></li>
        <li><a href="/product/phonegap-mobile-build">PhoneGap</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/developers">Docs</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="pricing-section">
  <div class="container clearfix">
    <article>
      <h3>14 Day Free Trial</h3>
      <p>Sign up today for a free trial and receive full and unrestricted access to the Application Craft Cloud platform for 14 days. No credit card is required and you can cancel at any time.</p>
      <p><a href="/get-started">Start your free trial &raquo;</a></p>
      </ul>
    </article>

    <article>
      <h3>AC Cloud</h3>
      <p>Upgrade your free 14 day trial for only $14 per month (or $140 per year), per developer, and you will enjoy our build once, run anywhere platform for developers of all skill levels. 100% cloud based and 100% easy!</p>
      <p><a href="/get-started">Get started right now &raquo;</a></p>
      </ul>
    </article>

    <article>
      <h3>AC Enterprise</br>AC Education</h3>
      <p>AC Enterprise lets you host Application Craft on your servers.</p>
      <p>If you're a school, college or other academic institution, we have a special deal for you.</p>
      <p><a href="/product/enterprise">Learn more &raquo;</a></p>
      </ul>
    </article>
  </div>
</section>
