---
title: Developer and User testimonials
active_menu_item: product
class_name: testimonials
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/enterprise">Enterprise</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li class="active"><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/developers">Docs</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="testimonials-section">
  <div class="container">
    <h1>Look at what our users have to say...</h1>
    <h4>Thousands of companies and developers trust us to help them build and run their apps.</h4>

    <div class="mb-wrap" id="testimonial-coke">
      <div class="mb-thumb"></div>
      <blockquote>
        <p>Using Application Craft, we were able to turn our project around in a way that was not possible using any other approach we could find that did not require deep technical and mobile expertise. Being able to go from concept to a fully deployed data collection solution so quickly was impressive. <a target="_blank" href="/pdf/testimonials/AC%20Case%20Study%20CCE.pdf">Read the case study</a></p>
      </blockquote>
      <div class="mb-attribution">
        <p class="mb-author">Janice Cole</p>
        <cite>Coca-Cola Enterprises</cite>
      </div>
    </div>

    <ul class="clearfix">

      <li>

        <div class="mb-wrap" id="testimonial-hcri">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>Without Application Craft, we would have had to build our own framework. Using their platform was much easier and faster. We certainly would not have been able to build our desktop and iPad app in three months without Application Craft. <a target="_blank" href="/pdf/testimonials/AC%20Case%20Study%20HCRI.pdf">Read the case study</a></p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Peter Hirschi</p>
            <cite>hcriAG</cite>
          </div>
        </div>

      </li>

      <li>
        <div class="mb-wrap" id="testimonial-ndtech">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>If AC didn't exist, I would probably have had to settle for one of the other platforms which would have significantly increased my development time and therefore the costs for our company. <a target="_blank" href="/pdf/testimonials/AC%20Case%20Study%20NDTECH.pdf">Read the case study</a></p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Ruan Fourie</p>
            <cite>NDTec</cite>
          </div>
        </div>
      </li>
      <li>
        <div class="mb-wrap" id="testimonial-i360">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>What an amazing concept to have the ability to bring a web based database concept to a working model prototype in under a hour with only a few days of testing. Unreal! <a target="_blank" href="/pdf/testimonials/AC%20Case%20Study%20i360.pdf">Read the case study</a></p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Michael Jay Kintner</p>
            <cite>CNerd.com & i360Views.com</cite>
          </div>
        </div>
      </li>
      <li>
        <div class="mb-wrap" id="testimonial-gift">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>Our App "Find a Gift" that was built entirely with Application Craft, reached #1 position in the Top 25 Free Apps in the "Lifestyle" category and #3 position in all categories!</p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Manos Zelig</p>
            <cite>Find a Gift</cite>
          </div>
        </div>
      </li>
      <li>
        <div class="mb-wrap">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>Not only is Application Craft a brilliant idea, but the timing is ripe for such a product. Most importantly, your implementation has been superb! I am impressed and it’s actually a pleasure to use the online IDE to develop apps amazingly quickly.</p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Thom Parkin</p>
            <cite>SAIC Contractor</cite>
          </div>
        </div>

      </li>
      <li>
        <div class="mb-wrap">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>Just want to say thank you for the best service and support I have come across so far. No other place have I experienced so fast and insightful help. Oh, and I almost forgot to say thank you for a great product. I think you have a potential industry leading product here. Take good care of it.</p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Tommy Ostlund</p>
            <cite>Developer</cite>
          </div>
        </div>
      </li>
      <li>

        <div class="mb-wrap">
          <div class="mb-thumb"></div>
          <blockquote>
            <p>Application Craft is pure class. Your new video promo is great but the product’s even better. Anyone who hasn't used AC yet is nuts. I've been using it for a month or two now on and off, and it just gets better and better. AND the support is excellent</p>
          </blockquote>
          <div class="mb-attribution">
            <p class="mb-author">Gary Quigley</p>
            <cite>Cork, Ireland</cite>
          </div>
        </div>

      </li>
    </ul>
  </div>
</section>
