---
title: Resources
active_menu_item: product
class_name: resources
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li class="active"><a href="/product/resources">Resources</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="resources-section">
  <div class="container">
    <h1>So how does Application Craft work?</h1>
    <h4>Check out this collection of resources which we have created for you, in order to help you build your apps with the Application Craft platform.</h4>
    <hr />

    <ul class="clearfix">
      <li>
        <a href="#">
          <h2>User Guide</h2>
          <p>Over 600 pages of documentation.</p>
        </a>
      </li>
      <li>
        <a href="/product/resources/training-videos">
          <h2>Training Videos</h2>
          <p>A great way to get started or to just sniff around.</p>
        </a>
      </li>
      <li>
        <a href="https://getsatisfaction.com/application_craft">
          <h2>Forum</h2>
          <p>Our community forum is very active and closely monitored by our staff.</p>
        </a>
      </li>
      <li>
        <a href="/product/resources/cheat-sheet">
          <h2>API Cheat Sheet</h2>
          <p>A summary of all of the client and server-side API calls.</p>
        </a>
      </li>        
      <li>
        <a href="http://portal.applicationcraft.com">
          <h2>Bug Tracker</h2>
          <p>Think you found a bug? This is where you report and track it.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Extending AC</h2>
          <p>Intended for intermediate to advanced developers wanting to create their own Application Craft widgets.</p>
        </a>
      </li>      
    </ul>
  </div>
</section>
