---
title: Training Videos
active_menu_item: product
class_name: resources
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li class="active"><a href="/product/resources">Resources</a></li>
      </ul>
    </div>
  </nav>
<% end %>
