---
title: Developers
active_menu_item: developers
class_name: developers
full_width: true
meta_keywords: mobile application development tools, android, html5, iphone, ipad, ios, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, html 5, windows, blackberry, smartphone, symbian, desktop
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="developers-section">
  <div class="container">

    <h1>So how does Application Craft work?</h1>
    <h4>Check out this collection of developer resources which we have created for you. They will help you build and run your apps on the Application Craft platform.</h4>
    <hr />

    <div class="clearfix">
      <ul>
        <li>Documentation</li>
        <li>
          <a href="/developers/documentation/my-first-app">
            <h2><span class="label label-important" style="position: relative;top:-3px;">NEW</span> My First App</h2>
            <p>New to AC? Run through this short tutorial and build your first app in minutes.</p>
          </a>
        </li>
        <li>
          <a href="/developers/documentation/product-guide">
            <h2>Product Guide</h2>
            <p>The Application Craft User Guide with over 400 pages of help and assistance.</p>
          </a>
        </li>
        <li>
          <a href="/developers/documentation/scripting-apis">
            <h2>Scripting &amp; API Guide</h2>
            <p>Client and Server Side Javascript API references and how-to's.</p>
          </a>
        </li>
        <li>
          <a href="/developers/documentation/ac-mobile-build-phonegap">
            <h2>AC Mobile Build &amp; PhoneGap</h2>
            <p>Everything you need to know about turning your AC and any other HTML5+CSS+JS app into a mobile app store ready binary.</p>
          </a>
        </li>
        <li>
          <a href="/developers/documentation/extending-ac">
            <h2>Extending AC</h2>
            <p>Intended for intermediate to advanced developers wanting to create their own Application Craft widgets.</p>
          </a>
        </li>
        <li>
          <a href="/developers/cheat-sheet">
            <h2>API Cheat Sheet</h2>
            <p>Contains a summary of all of the client and server-side API calls available for Application Craft powered apps.</p>
          </a>
        </li>
      </ul>

      <ul>
        <li>Support</li>
        <li>
          <a href="/developers/training-videos">
            <h2>Training &amp; Overview Videos</h2>
            <p>A great way to get started or to just sniff around.</p>
          </a>
        </li>
        <li>
          <a href="/developers/stackoverflow">
            <h2>Javascript Questions</h2>
            <p>If you have any Javascript specific questions, post your questions on StackOverflow. Monitored by AC staff.</p>
          </a>
        </li>
        <li>
          <a href="https://getsatisfaction.com/application_craft" target="_blank">
            <h2>Forums</h2>
            <p>This is for all non Javascript questions. Our community forum is very active and closely monitored by our staff.</p>
          </a>
        </li>
        <li>
          <a href="/services">
            <h2>Services</h2>
            <p>Need help building your app? Our expert developers can build your app or give you all the assistance you need.</p>
          </a>
        </li>
        <li>
          <a href="http://portal.applicationcraft.com" target="_blank">
            <h2>Bug Tracker</h2>
            <p>Think you found a bug? Tell us about it, and we'll get it fixed.</p>
          </a>
        </li>
        <li>
          <a href="/legal/support">
            <h2>Support Policy</h2>
            <p>Need priority support? Check out our support policy, which includes details of how to get in touch with us.</p>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>
