---
title: Application Craft and StackOverflow
active_menu_item: developers
class_name: developers
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<p>StackOverflow is the best developer Q&amp;A resource there is. Application Craft developers should get to know it not just to ask Javascript related questions but also to discover things from the developer community that you are not going to get from our support staff.</p>

<h2>Guidelines</h2>
<p>Please follow these rules when asking questions:</p>
<ul>
 <li>Only ask Javascript questions. Any AC usage questions are for <a href="https://getsatisfaction.com/application_craft" target="_blank">the forum</a>.</li>
 <li><strong>IMPORTANT</strong>: use the <em>ApplicationCraft</em> tag at the bottom of your question so we can track it.</li>
 <li>Please follow their <a href="http://stackoverflow.com/questions/ask/advice" target="_blank">guidelines</a> when asking your question.</li>
 <li>Be sure to vote on answers to questions so community members can earn badges and points.</li>
</ul>

<h2><a target="_blank" href="http://stackoverflow.com/search?q=%22application+craft%22%2C+applicationcraft&submit=search">Go to StackOverflow &raquo;</a></h2>
