body.blog {

  aside {
    clear: none;
    display: inline-block;
    float: left;
    margin: 10px 0 0 25px;
    width: 210px;
  }

  .posts {
    margin-top: 30px;
    width: 740px;
    float: left;

    > article {
      margin: 20px 20px 60px;
      border-bottom: 3px solid #ccc;
      padding-bottom: 15px;

      @include apply-to(more-than, ipad-landscape) {
        margin: 0 0 60px 0;
        padding: 0 0 20px 170px;
        position: relative;
      }

      .meta {
        text-align: center;

        @include apply-to(more-than, ipad-landscape) {
          left: 10px;
          text-align: left;
          position: absolute;
          top: 18px;
          width: 145px;
        }

        p.date {
          border-bottom: 1px solid #ccc;
          font-size: 14px;
          margin: 0 auto 20px auto;
          padding-bottom: 15px;
          width: 50%;

          @include apply-to(more-than, ipad-landscape) {
            border: none;
            width: 100%;
          }

          a {
            color: #aaa;
            font-weight: 400;
          }
        }

        p.comments {
          font-size: 14px;

          @include apply-to(less-than, ipad-landscape) {
            display: none;
          }
        }
      }

      h1 {
        font: 28px gotham_bookregular;
        margin-bottom: 30px;

        @include apply-to(less-than, ipad-portrait) {
          text-align: center;
        }
      }
    }
  }
}