@import 'developers/training_videos';

body.developers {

  background-color: #F9FAF7;
  background-image: none;


  @import 'developers/tree';
  @import 'developers/docs';
  @import 'developers/cheat_sheet';
  @import 'developers/breadcrumbs';


  #developers-section {
    margin: 70px 0;

    h1 {
      font: 26px gotham_mediumregular;
      text-transform: uppercase;
      text-align: center;

      @include apply-to(more-than, ipad-portrait) {
        font-size: 30px;
      }
      @include apply-to(more-than, ipad-landscape) {
        font-size: 36px;
      }
    }

    h4 {
      font: 14px gotham_bookregular;
      text-align: center;
      line-height: 1.4em;
      width: 80%;
      margin: 0 auto;

      @include apply-to(more-than, ipad-portrait) {
        font-size: 18px;
      }
    }

    hr {
      margin: 2em;
    }

    ul {
      @include no-list-style;

      @include apply-to(more-than, ipad-portrait) {
        float: left;
        width: 50%;
      }

      li {
        margin: 0 30px 40px;

        &:first-child {
          font: 26px gotham_thinregular;
          text-transform: uppercase;
          margin-top: 20px;
        }

        a:hover h2 {
          text-decoration: underline;
        }

        h2 {
          font: 20px gotham_mediumregular;
          text-transform: uppercase;
        }

        p {
          color: #3e3e3e;
        }
      }
    }
  }
}