footer {
  color: #eeeee9;

  section:first-child {
    background: #3E3E3E image-url('bgcloth.png') repeat;
    padding: 20px 5px;
    font-size: 13px;

    @include apply-to(more-than, ipad-portrait) {
      padding: 30px 40px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    > div > ul > li {
      float: left;

      &:last-child {
        @include apply-to(less-than, ipad-portrait) {
          float: none;
          clear: both;
        }
        @include apply-to(more-than, ipad-portrait) {
          float: right;
        }

        ul {
          margin: 0 30px;
          font-size: 0px;
          list-style: none;

          li {
            display: inline-block;
            margin: 15px 5px 0;

            a {
              background: image-url('social.gif') no-repeat 0 0;
              text-indent: -9999px;
              margin: 0;

              &:hover span {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
              }

              span {
                background: image-url('social.gif') no-repeat 0 0;
                display: block;
                width: 50px;
                height: 51px;
                position: relative;
                z-index: 10;
                -webkit-transition: -webkit-transform 0.4s ease-out;
                -moz-transition: -moz-transform 0.4s ease-out;
                transition: transform 0.4s ease-out;
              }
            }

            &:nth-child(2) a, &:nth-child(2) a span {
              background-position: -71px 0;
            }
            &:nth-child(3) a, &:nth-child(3) a span {
              background-position: -143px 0;
            }
            &:nth-child(4) a, &:nth-child(4) a span {
              background-position: -213px 0;
            }
          }
        }
      }

      > ul {
        > li a {
          color: #BBB;
          margin: 8px 25px;
          display: block;

          @include apply-to(more-than, ipad-portrait) {
            margin: 8px 70px 8px 0;
          }
        }
      }
    }
  }

  section:last-child {
    background-color: $red;
    font-size: 12px;
    padding: 14px 4px;

    @include apply-to(more-than, ipad-portrait) {
      padding: 24px 40px;
    }

    a {
      color: $cream;
    }
  }
}