// Navigation bar
// =================================================================================================

nav.main {
  background-color: $cream;
  text-transform: uppercase;
  font: 14px 'museo_sans_rounded_300regular';
  position: relative;
  height: 90px;
  -moz-box-shadow: 0px 0px 6px #888;
  -webkit-box-shadow: 0px 0px 6px #888;
  box-shadow: 0px 0px 6px #888;

  @include apply-to(more-than, ipad-portrait) {
    height: 68px;
  }
  @include apply-to(more-than, ipad-landscape) {
    height: 100px;
  }

  ul {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    padding: 0;

    > li {
      @include apply-to(more-than, ipad-portrait) {
        float: left;
      }

      a {
        display: block;
      }

      // Logo
      &:first-child {
        margin: 8px auto;
        text-align: center;
        @include apply-to(more-than, ipad-portrait) {
          margin-top: 16px;
        }
        @include apply-to(more-than, ipad-landscape) {
          margin-top: 32px;
        }
      }

      // Navigation items
      // -------------------------------------------------------------------------------------------
      &:last-child {
        @include apply-to(more-than, ipad-portrait) {
          float: right;
        }
      }

      ul {
        display: table;
        border-top: 1px solid #ccc;
        @include apply-to(more-than, ipad-portrait) {
          border: none;
        }

        li {
          float: left;
          margin: 10px 0 0 0;
          height: 35px;

          @include apply-to(more-than, ipad-portrait) {
            margin-top: 25px;
            height: 47px;
          }
          @include apply-to(more-than, ipad-landscape) {
            margin-top: 38px;
            height: 66px;
          }

          &:first-child {
            display: none;
            @include apply-to(more-than, ipad-landscape) {
              display: block;
              margin-top: 38px;
            }
          }

          a {
            color: #3e3e3e;
            padding: 0 15px;

            &.active {
              color: $red;
            }
          }

          // Navigation - Sign up
          // ---------------------------------------------------------------------------------------
          &:last-child {
            a {
              color: $red;
            }

            @include apply-to(more-than, ipad-portrait) {
              margin: 0 0 0 10px;
              a {
                background-color: $red;
                color: #FFF;
                padding: 20px 18px 23px;
                font: {
                  size: 23px;
                  family: 'gotham_mediumregular';
                }

                &:hover {
                  color: #000;
                }
              }
            }

            @include apply-to(more-than, ipad-landscape) {
              margin: 0 0 0 20px;
              a {
                padding: 33px 18px 42px;
              }
            }
          }
        }
      }
    }
  }

  // Navigation pointer
  .active {
    background: $cream url('/img/products/nav-pointer.gif') no-repeat center 16px;
    @include apply-to(more-than, ipad-portrait) {
      background-position: center 28px;
    }
    @include apply-to(more-than, ipad-landscape) {
      background-position: center 47px;
    }
  }
}

// Navigation pointer (home)
body.home nav.main {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  .active {
    background-image: url('/img/home/nav-pointer.gif');
  }
}


// Sub menu
// -------------------------------------------------------------------------------------------------
nav.sub {
  background-color: #EFEDE7;
  padding: 12px 0 10px;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    width: 310px;
    text-align: center;
    margin: 0 auto;

    @include apply-to(more-than, ipad-portrait) {
      width: 410px;
    }

    li {
      float: left;
      margin: 0 8px;

      @include apply-to(more-than, ipad-portrait) {
        margin: 0 20px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}
