body.services {

  #price-banner {
    border-top: 0;
  }

  .get-in-touch {
    margin: 0 auto 200px;
    max-width: 800px;
    color: #FFF;

    .logo {
      margin: 75px auto 85px;
      display: block;
      width: 600px;
    }

    h2 {
      font-size: 25px;
      text-align: left;
      margin-left: 0;
      margin-bottom: 30px;
      font-weight: bold;
      text-transform: none;
    }

    p {
      font-size: 14px;
      margin: 0;
      padding: 5px 0;
      font-weight: bold;
      line-height: 1.4;

      &.centered {
        text-align: center;
      }
    }

    .button {
      float: none;
      margin: 90px auto 15px;
      display: block;
      padding: 7px 15px;
      width: 370px;
      border: 0;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 6px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 25px;
      background-color: #D44E3E;

      &:hover {
        background-color: saturate(#D44E3E, 15%);
        transition: background-color 200ms ease;
        -webkit-transition: background-color 200ms ease;
        -moz-transition: background-color 200ms ease;
      }
    }


    .clearfix {
      margin: 0;
    }

    @include apply-to(less-than, ipad-landscape) {
      margin: 30px;

      h2, p {
        text-align: center;
      }
    }

    @include apply-to(less-than, iphone-landscape) {
      p {
        display: none;
      }

      .button {
        width: 80%;
        margin: auto;
        font-size: 18px;
      }
    }
  }

  header {
    background: #666 image-url('bgcloth.png') repeat;
    font-size: 0.8em;
    padding: 20px 0 40px;

  }

}