#slide1 {
  > section {
    float: left;
  }

  > section:first-child {
    margin-top: 100px;

    img {
      margin: 0 auto;
      display: block;
    }

    p {
      color: #F8F7EF;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 32px;
      line-height: 1.7em;
      font: {
        family: 'gotham_thinregular';
        size: 18px;
      }
    }

    span:first-child {
      font-size: 54px;
      margin-bottom: 3px;
    }
    span:last-child {
      font-size: 68px;
    }
    span {
      display: block;
      line-height: 1.05em;
      font: {
        family: 'gotham_mediumregular';
        size: 64px;
      }
    }
  }

  > section:last-child {
    margin: 58px 0 0 56px;
  }
}