@import 'fonts';
@import 'media';

$cream: #F8F7EF;
$red: #f36050;
$blue: #27B6DA;

// Resets to no list style and zero margin and padding.
@mixin no-list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'museo_sans_rounded_300regular';
  color: #3e3e3e;
  background: $cream url('/img/graphbg.gif') repeat;
}

a {
  color: $red;
  text-decoration: none;
}

img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.container {
  margin: 0 auto;

  @include apply-to(more-than, ipad-landscape) {
    width: 980px;
  }
}

.rounded {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}



@import 'nav';
@import 'home';
@import 'products';
@import 'footer';
@import 'standard';
@import 'price_banner';
@import 'signup';
@import 'fancybox';