@import 'fonts';
@import 'media';

$cream: #F8F7EF;
$red: #f36050;
$blue: #27B6DA;

body {
  font-family: 'proxima_nova_rgregular';
  color: #3e3e3e;
  background: $cream url('/img/graphbg.gif') repeat;
}

a {
  text-decoration: none;
}

img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.container {
  margin: 0 auto;

  @include apply-to(more-than, ipad-landscape) {
    width: 1000px;
  }
}


@import 'nav';
@import 'home';
@import 'footer';
