---
title: Deploying Apps
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/advanced
---

<% content_for :above_aside do %>
  <h4>Training Videos</h4>
<% end %>

<%= training_video 'Bq6PinoEIA8', :title => 'Managing Large Lists, Repeater Contents & Data Paging', :time => '4:25',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?fetchdata.htm',
                                      :title => 'fetchDataPage()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?speed_considerations.htm',
                                      :title => 'Repeater Speed Considerations' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?drawnextpage.htm',
                                      :title => 'drawNextPage()' }
                                  ] %>
