---
title: Deploying Apps
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/deploying-apps
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<% content_for :above_aside do %>
  <h4>Training Videos</h4>
<% end %>

<%= training_video 'Riyw8suv0hc', :title => 'Embedding in a Web Page', :time => '2:16',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?passing_in_data_with_embedded_.htm',
                                      :title => 'Pass Data into Embedded App' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?getinputparameter.htm',
                                      :title => 'getInputParameters()' }
                                  ] %>


<%= training_video 'M9hLcnKOj04', :title => 'Deploying a Native Mobile App', :time => '2:22',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?phonegap__native_apps.htm',
                                      :title => 'PhoneGap & Native Apps' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?phonegapbuild.htm',
                                      :title => 'PhoneGap:Build' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?phonegap_parameters.htm',
                                      :title => 'PhoneGap Parameters' }
                                  ] %>




