---
title: Getting Started
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/getting-started
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<% content_for :above_aside do %>
  <h4>Training Videos</h4>
<% end %>

<%= training_video '56jct5SJLIo', :title => 'Logging into the Console', :time => '1:28',
                                  :description => '',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_console.htm',
                                      :title => 'Console overview' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?private__shared_and_public_fol.htm',
                                      :title => 'Private and shared folders' }
                                  ] %>

<%= training_video 'hKftVYFAL8M', :title => 'Creating a new app', :time => '1:08',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?creating_a_new_content_app.htm',
                                      :title => 'Creating a new app' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?themes_styles.htm',
                                      :title => 'Themes' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?sharing.htm',
                                      :title => 'Sharing permissions' }
                                  ] %>