---
title: Training Videos
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<p>We know that you don't want to wait around for support to answer your email. You have an app to build! So we have created over 60 training videos (and growing rapidly) to help you with everything from getting started to advanced functionality like workflow and Google Analytics. </p>

<h4><a href="/developers/training-videos/getting-started">Click to get started &raquo;</a><h4>