body.enterprise {

  header {
    background: #666 url('/img/bgcloth.png') repeat;
    font-size: 0.8em;
    padding: 20px 0;

    .container > .clearfix {
      margin: 0 auto;
      display: table;

      img {
        @include apply-to(less-than, iphone-portrait) {
          display: none;
        }
      }

      > div {
        float: left;
        margin-left: 20px;

        @include apply-to(more-than, iphone-landscape) {
          margin-left: 10px;
        }

        h1 {
          color: $cream;
          font: 30px gotham_bookregular;
          text-transform: uppercase;
          padding: 0;
          margin: 0;

          @include apply-to(more-than, ipad-portrait) {
            font-size: 52px;
          }
        }

        h2 {
          color: $cream;
          margin: 0;
          font-size: 14px;

          @include apply-to(more-than, iphone-landscape) {
            width: 370px;
          }

          @include apply-to(more-than, ipad-portrait) {
            font-size: 18px;
            width: inherit;
          }
        }
      }
    }

  }

}