body.mobile-build {

  header {
    background: #666 url('/img/bgcloth.png') repeat;
    font-size: 0.8em;

    h1 {
      margin: 0;
      color: $cream;
      font-family: gotham_mediumregular;
    }
  }

}