---
title: Phonegap/Cordova Mobile Build
active_menu_item: product
class_name: mobile-build
full_width: true
---

<nav class="sub">
  <div class="container">
    <ul class="clearfix">
      <li><a href="/products">Overview</a></li>
      <li><a href="/products/pricing">Pricing</a></li>
      <li class="active"><a href="/products/phonegap-mobile-build">Phonegap</a></li>
      <li><a href="/products/testimonials">Testimonials</a></li>
      <li><a href="/products/resources">Resources</a></li>
    </ul>
  </div>
</nav>

<section id="overview-sections">
  <div class="container">
    <ul class="clearfix">
      <li>
        <a href="#easy-peasy">
          <h3>Easy Peasy</h3>
          <p>Build a mobile binary in seconds.</p>
        </a>
      </li>
      <li>
        <a href="#curated-plugins">
          <h3>Curated Plugins</h3>
          <p>Amazing support for Phonegap plugins.</p>
        </a>
      </li>
      <li>
        <a href="#device-access">
          <h3>Device Access</h3>
          <p>Access to the native device functionality.</p>
        </a>
      </li>
      <li>
        <a href="#finally">
          <h3>And finally...</h3>
          <p>Check out the other Phonegap features.</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<a name="easy-peasy"></a>
<section id="overview-ui-builder" class="overview-section">
  <div class="container clearfix">
    <img src="/img/products/ui-builder-screen.png" width="389" height="367" align="left">
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Easy Mobile Build</h1>
      <p>With AC Mobile Build, you can compile any HTML5 App into a mobile binary in seconds. Running Phonegap/Cordova locally is not for the faint-hearted. AC Mobile Build is! But brave people will love it as well.</p>

      <ul class="clearfix">
        <li>
          <h4>AC Apps</h4>
          <p>Just press the build button then sit back and wait for a few seconds. That's it. </p>
        </li>
        <li>
          <h4>Non AC Apps</h4>
          <p>If you've built your HTML5+CSS+JS project outside AC, just upload your project and press 'Build'.</p>
        </li>
        <li>
          <h4>All Major Platforms</h4>
          <p>iOS, Android and Windows Phone (coming very soon) are all supported. Don't worry about compilers ever again.</p>
        </li>
        <li>
          <h4>Beast of Burden</h4>
          <p>We do the compiling, manage your certiticates, can generate your certificates. We've even added a load of plugins.</p>
        </li>
      </ul>
    </article>
  </div>
</section>

<a name="curated-plugins"></a>
<section id="overview-code-editor" class="overview-section">
  <div class="container clearfix">
    <img src="/img/products/code-editor-screen.png" width="414" height="460" align="right">
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Curated Plugins</h1>
      <p>Application Craft developers can include plugins from the IDE. Non AC developers just modify the config.xml. We are adding more plugins all the time.</p>

      <ul class="clearfix">
        <li>
          <h4>Push Notifications &amp; Mail</h4>
          <p>Full integration with the Xtify platform, and access your devices email capabilties from your App.</p>
        </li>
        <li>
          <h4>Scandit</h4>
          <p>Scandit offers commercial grade barcode reading from your smartphone. Support for Google ZXing is also available.</p>
        </li>
        <li>
          <h4>SQLite Database</h4>
          <p>Add local relational database capabilities to your App, all within the device.</p>
        </li>
        <li>
          <h4>Child Browser</h4>
          <p>Have a browser window within your App so your user does not end up in the device browser. Much nicer!</p>
        </li>
      </ul>
    </article>
  </div>
</section>

<a name="device-access"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    <img src="/img/products/deployment-screen.png" width="439" height="463" align="left">
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Access to Device</h1>
      <p>As AC Mobile Build uses Phonegap/Cordova technology, you can access all the important device components.</p>

      <ul class="clearfix">
        <li>
          <h4>Hardware</h4>
          <p>Acceleromter, Camera, Compass, Gelocation, Audio</p>
        </li>
        <li>
          <h4>OS Features</h4>
          <p>Connection Checking, Contacts, Events, File System, Notifications, Storage</p>
        </li>
        <li>
          <h4>Check out the API</h4>
          <p>The Phonegap API is full featured and very easy to use, <a href="http://docs.phonegap.com/" target="_blank">so check it out here.</a></p>
        </li>
      </ul>
    </article>
  </div>
</section>

<a name="finally"></a>
<section id="overview-detail">
  <div class="container clearfix">
    <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
    <h3>And Finally...</h1>

    <ul class="clearfix">
      <li>
        <h3>Introducing...</h3>
        <ul>
          <li>
            <h4>The blog post</h4>
            <p>Read our <a href="/blog/2012/11/ac-mobile-build">blog entry</a> where we announce AC Mobile Build.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3>2 min Overview</h3>
        <ul>
          <li>
            <h4>The videos</h4>
            <p>From labels to charts, just drag and drop.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3>User Guide</h3>
        <ul>
          <li>
            <h4>The docs</h4>
            <p>Read all about it <a href="http://docs.phonegap.com/" target="_blank">right here</a>.</p>
          </li>
        </ul>
      </li>

      <li>
        <h3>Phonegap API</h3>
        <ul>
          <li>
            <h4>The API</h4>
            <p>The <a href="http://docs.phonegap.com/" target="_blank">Phonegap API</a> can be used from your code.</p>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</section>


