---
title: Resources
class_name: resources
full_width: true
---

<nav class="sub">
  <div class="container">
    <ul class="clearfix">
      <li><a href="/products">Overview</a></li>
      <li><a href="/products/pricing">Pricing</a></li>
      <li><a href="/products/phonegap">Phonegap</a></li>
      <li><a href="/products/testimonials">Testimonials</a></li>
      <li class="active"><a href="/products/resources">Resources</a></li>
    </ul>
  </div>
</nav>

<section id="overview-sections">
  <div class="container">
    <ul class="clearfix">
      <li>
        <a href="#ui-builder">
          <h3>UI Builder</h3>
          <p>Easy and fast with Drag and Drop.</p>
        </a>
      </li>
      <li>
        <a href="#code-editor">
          <h3>Code Editor</h3>
          <p>Integrated code editing for all.</p>
        </a>
      </li>
      <li>
        <a href="#deployment">
          <h3>Deployment</h3>
          <p>In the browser or build for mobile.</p>
        </a>
      </li>
      <li>
        <a href="#details">
          <h3>In Detail</h3>
          <p>Check out our features in detail...</p>
        </a>
      </li>
    </ul>
  </div>
</section>

<section id="resources-section">
  <div class="container">
    <h1>So how does Application Craft work?</h1>
    <h4>Check out this collection of resources which we have created for you, in order to help you build your apps with the Application Craft platform.</h4>
    <hr />

    <ul class="clearfix">
      <li>
        <a href="#">
          <h2>User Guide</h2>
          <p>Over 600 pages of documentation detailing the Application Craft platform from top to bottom.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Bug Tracker</h2>
          <p>Think you found a bug? This is your first port of call should you need any help with developing your apps and using the AC platform.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Extending AC</h2>
          <p>Intended for intermediate to advanced developers wanting to create their own Application Craft widgets.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Training Videos</h2>
          <p>We have created more than 60 videos on topics such as Getting Started, Designer Basics, App Layout, Deploying Apps, Coding, Widgets, Integration, and Data Storage.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Forum</h2>
          <p>We are proud of our active and positive user community. Are you having trouble with a tool or widget? Do you want to do something that hasn’t been done before? Let our community of advanced developers and AC staff help you.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>API Cheat Sheet</h2>
          <p>A summary of all of the client and server-side API calls available for Application Craft apps.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
