.docs {
  header {
    margin: 20px 0 0 90px;
    overflow: hidden;
  }

  article {
    font-size: .9em;
    margin: 0 10px 80px 335px;

    h1 {
      font: 30px gotham_mediumregular;
      margin: 0 0 35px;
      border-bottom: 3px solid #ccc;
      padding-bottom: 8px;
    }

    h2 {
      font: 1.2em gotham_bookregular;
      margin: 2em 0 1em;
    }

    img:not(.fancybox-image) {
      vertical-align: middle;
      display: inline-block;
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      @include box-shadow(0 1px 3px rgba(0,0,0,0.1));
      @include border-radius(3px);
      max-width: 200px;
      height: inherit;
    }

    table {
      width: 100%;
      margin-bottom: 20px;
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;

      tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
        background-color: #EFEDE7;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #dddddd;
      }
    }
  }

}