.docs {

  header {
    margin: 20px 0 0 90px;

    h1 {
      width: 235px;
      font: 30px gotham_thinregular;
      text-transform: uppercase;
    }
  }

  article {
    margin: 0 10px 50px 335px;

    h3 {
      margin: 1.8em 0 1em;
    }

    img:not(.fancybox-image) {
      vertical-align: middle;
      display: inline-block;
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      @include box-shadow(0 1px 3px rgba(0,0,0,0.1));
      @include border-radius(3px);
      max-width: 200px;
      height: inherit;
    }
  }

}