aside.tree {
  float: left;
  width: 300px;
  margin: 35px 20px 50px 10px;
  font-size: 13px;

  ol {
    @include no-list-style;

    > li > a {
      margin-left: 16px;
    }
  }

  li {
    padding: 2px 0;

    a {
      color: #000;

      &.active {
        color: $red;
      }

      &:hover {
        color: $red;
      }
    }

    > div {

      span {
        background: image-url('tree/plus.png') no-repeat 0 2px;
        cursor: pointer;
        display: block;
        text-indent: -9999px;
        float: left;
        width: 16px;
      }
    }

    ol {
      display: none;
      margin:  2px 0 6px 14px;

      li {
        > a {
          margin-left: 16px;
        }
      }
    }

    &.checked {
      opacity: 1 !important;

      > div {
        span {
          background-image: image-url('tree/minus.png');
        }

        a {
          color: $red;
        }
      }

      > ol {
        display: inline-block;
      }
    }
  }

}