<div id="cws-signup-dialog">

  <div id="cws-signup-dialog-inner">
    <%= image_tag 'ac-site-cws-logo.png' %>

    <h2>Start your journey with Chrome...</h2>
    <p>Sign up for the Application Craft <span class="trial-period">14</span> Day Free Trial via the <a href="https://chrome.google.com/webstore/detail/application-craft/fnbfgfpielckjhdohmkacklnnjkdpkdc" target="_blank">Chrome Web Store</a> and enjoy quick and easy access through your Chrome browser.</p>
    <p><a href="https://chrome.google.com/webstore/detail/application-craft/fnbfgfpielckjhdohmkacklnnjkdpkdc" target="_blank" class="btn"><span></span>Add to Chrome</a></p>
  </div>

</div>