<div id="cws-signup-dialog">

  <div id="cws-signup-dialog-inner">
    <%= image_tag 'ac-site-cws-logo.png' %>

    <h2>Start your journey here...</h2>
    <p>Just complete this short form to start your free trial, then the next time you visit this page via Chrome, you will signed straight into your new AC account.</p>
  </div>

</div>