<div id="webinar-dialog">

  <div id="webinar-dialog-inner">
    <h2>Live Online Webinars</h2>
    <p>Application Craft run regularly scheduled live, online webinars. These webinars include a weekly introduction to AC for new users, as well as a selection of Developer Clinics on beginner and advanced topics. They are designed to help you every step of the way.</p>
    <p>
      <a href="/webinars" class="btn-primary"><nobr>Tell me more</nobr></a>
      <a href="#" class="btn"><nobr>No thanks</nobr></a>
    </p>
  </div>

</div>