<div id="webinar-dialog">

  <div id="webinar-dialog-inner">
    <h2>Live Webinars</h2>
    <p>Application Craft runs regularly scheduled webinars, including:</p>
    <ul>
      <li>Weekly introduction sessions for new AC users</li>
      <li>Selection of Developer Clinics from beginner to advanced topics.</li>
    </ul>
    <p>Both are designed to help you every step of the way!</p>
    <p>
      <a href="/webinars" class="btn-primary"><nobr>Tell me more</nobr></a>
      <a href="#" class="btn"><nobr>No thanks</nobr></a>
    </p>
  </div>

</div>