<% wrap_layout :layout do %>

  <div class="container clearfix">

    <section class="posts">

      <article>
        <section class="meta">
          <p class="date"><%= link_to current_article.date.strftime('%B %e, %Y'), current_article %></p>

          <p class="comments">
            <%= link_to 'Comments', current_article.url + "#disqus_thread", class: "dsq-comment-count" %>
          </p>
        </section>

        <h1><%= link_to current_article.title, current_article %></h1>
        <p><%= yield %></p>
      </article>

    </section>


    <aside>
      <section>

      </section>
    </aside>

  </div>

<% end %>
