---
title: Sign up for a Free 14 day Trial
full_width: true
class_name: signup
hide_price_banner: true
---


<div class="container">

  <h1>Sign up for your 14 day free trial</h1>
  <h2>Complete this short form to begin your free trial. <strong>No credit card is required</strong>. You will be given instant access to the full Application Craft Cloud platform.</h2>
  <hr />

  <div class="clearfix">
    <section>
      <script src="http://ac-static.applicationcraft.com/ac/1.20/live/userlive.js" type="text/javascript"></script>
      <script type="text/javascript">
        waInitForm("a286024b-a0ca-4107-8f4c-5a8f1e32cefe", '100%', 600, {referrer: document.referrer}, null, null, "http://ac.applicationcraft.com/live.html");
      </script>
    </section>

    <section>

      <h3>Common Questions</h3>
      <ul>
        <li>
          <h4>Can I cancel my account?</h4>
          <p>Absolutely! You can cancel your account at any time, and without any penalties. At the end of your subscription period, you will not be charged further.</p>
        </li>
        <li>
          <h4>How many apps can I build using the Application Craft platforms?</h4>
          <p>You may build as many as you like with both the free trial and AC Cloud.</p>
        </li>
        <li>
          <h4>What can I do / not do with the Free Trial?</h4>
          <p>Completely unrestricted access to the AC Cloud platform, with just one exception in that you cannot export/download apps. The Trial also gives you unrestricted access to AC Mobile Build.</p>
        </li>
        <li>
          <h4>Are there usage limitations?</h4>
          <p>Yes, we have an Acceptable Usage Policy document that covers both how hard your app can hit the platorm as well as restrictions on prohibited content and actions.</p>
        </li>
      </ul>

    </section>
  </div>
</div>

<% content_for :foot do %>
  <%= javascript_include_tag :cws_signup_dialog %>
  <%= stylesheet_link_tag :cws_signup_dialog %>
  <%= partial 'cws_signup_dialog' %>
<% end %>
