---
title: Sign up for a Free 14 day Trial
full_width: true
class_name: signup
hide_price_banner: true
---


<div class="container">

  <h1>Sign Up Complete!</h1>
  <h2>Please check your email inbox, as we have sent you an email with your login details. If you do not receive an email within a few minutes, please contact <a href="/contact-us">support</a>.<br>In the meantime, check out our amazing referral program - details below.</h2>
  <hr />

  <section id="coupon">
    <div>

      <h1><span class="logo">Application <span>Craft</span></span> Referral Program</h1>

      <h2>Save $$$ - Win Prizes!</h2>
      <h3>To start referring, just enter your email below.</h3>

      <div class="form">
        <form id="referral-form">
          <input type="text" name="email" id="referral-email" placeholder="Enter your email address to start...">
          <input type="submit" value="Start" class="btn">
        </form>
      </div>

      <p class="terms">Terms and conditions apply. Referral reward scheme will run indefinitely until further notice for AC Cloud rewards. Prizes will be awarded from June 1st 2013 at which point the competition will close. Full details of the reward scheme can be found below.  We thank you very much for any referrals. As a new, small company, we need to rely on people who like our product telling others about it.</p>

    </div>
  </section>
  <br><br>

</div>