---
title: Visual Development in the Cloud
---

<section class="feature clearfix">
  <div><img src="/img/home/feature1.gif" width="521" height="359"></div>
  <div>
    <h2><strong>100%</strong> Cloud Based</h2>
    <p>Drag-and-drop UI design, coding, deployment - you do everything in your browser. You can choose from our Cloud based platform or AC Enterprise, which you can install anywhere.</p>
  </div>
</section>

<section class="feature clearfix">
  <div>
    <h2>Build Prototypes, Front-Ends &amp; Full-Blown Apps</h2>
    <p>There is absolutely no faster, easier way of getting fully functional prototypes up and running. And mobile or desktop front-ends for your web services or database are a doddle. But you should see some of the full-strength solutions our users have built!</p>
  </div>
  <div><img src="/img/home/feature2.gif" width="498" height="349"></div>
</section>

<section class="feature clearfix">
  <div><img src="/img/home/feature3.gif" width="501" height="412"></div>
  <div>
    <h2>Web App or App Store?</h2>
    <p>All Application Craft Apps will run in your desktop or mobile browser. But AC Mobile Build incorporates Phonegap/Cordova technology so you can deploy to App Stores.</p>
  </div>
</section>

<section class="feature clearfix">
  <div>
    <h2>Everything is HTML5, CSS and Javascript</h2>
    <p>Application Craft was developed using pure web technologies. And your Apps are, too. If ‘cross-platform’ matters and your budget is not effectively unlimited, then let Application Craft take the strain.</p>
  </div>
  <div><img src="/img/home/feature4.gif" width="470" height="425"></div>
</section>

<section class="feature clearfix">
  <div>
    <h2>You’d be crazy to go Native!</h2>
    <p>Building Native Apps means you have to write each App 2, 3 or even 4 times! If you have the skills and you can afford it, then Native may well be the right choice. But for at least 80% of cases, it is simply not an option.</p>
  </div>
</section>