<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %> - Application Craft</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/boilerplate.css">
    <script src="js/vendor/modernizr-2.6.1.min.js"></script>
  </head>
  <body>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <nav>
      <div class="container">

        <ul class="clearfix">
          <li><a href="/"><img src="/img/logo.gif"></a></li>
          <li class="clearfix">
            <ul class="clearfix">
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/">Products</a></li>
              <li><a href="/">Sign In</a></li>
              <li class="nofade"><a href="/">Sign Up Today</a></li>
            </ul>
        </ul>

      </div>
    </nav>

    <header>
      <div class="container">

        <section id="slide1">
          <section>
            <p>
              <span>Visual</span>
              <span>Development</span>
              <span>in the Cloud</span>
            </p>
            <p>Build amazing mobile and desktop applications<br />with our web based, drag-and-drop IDE</p>
            <img src="/img/flourish.gif">
          </section>

          <section>
            <img src="/img/home/slides/slide1/ill.gif">
          </section>
        </section>

      </div>
    </header>

    <div>
      <div class="container">
        <%= yield %>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
