---
title: Referral Program
class_name: referral-program
full_width: true
---

<header>
  <div class="container">
    <div>
      <h1>Referral Program</h1>
      <h2>Tasty rewards for telling your friends about Application Craft</h2>
    </div>
  </div>
</header>


<div class="container">

  <section id="coupon">
    <div>

      <h1><span class="logo">Application <span>Craft</span></span> Referral Program</h1>

      <h2>Save $$$ - Win Prizes!</h2>
      <h3>To start referring, just enter your email below.</h3>

      <div class="form">
        <form id="referral-form">
          <input type="text" name="email" id="referral-email" placeholder="Enter your email address to start...">
          <input type="submit" value="Start" class="btn">
        </form>
      </div>

      <p class="terms">Terms and conditions apply. Referral reward scheme will run indefinitely until further notice for AC Cloud rewards. Prizes will be awarded from June 1st 2013 at which point the competition will close. Full details of the reward scheme can be found below.  We thank you very much for any referrals. As a new, small company, we need to rely on people who like our product telling others about it.</p>

    </div>
  </section>

  <section id="referral-text" class="clearfix">
    <div>

      <h2 id="toc_0">How to Refer</h2>

      <p>You can refer in one of two ways. In both cases, just go ahead and enter your email in the form above.</p>

      <ul>
        <li><strong>Refer by Email, Twitter, Facebook, Linked In</strong> : after entering your email address you can click on one of the social icons and it should be clear what to do next.</li>
        <li><strong>Blog or Web Site link</strong> : after entering your email address, you will see a URL, which you can copy and paste to your blog or site.</li>
      </ul>

      <h2 id="toc_1">How we track referrals</h2>
      <p>We use your email address to track anyone that signs up or buys. You can then see how your referrals are doing from your Application Craft account. </p>

      <h2 id="toc_1">How you can track your referrals</h2>
      <p>We will shortly be adding a simple feature to your AC Console so you can see your referral activity and who has signed up. Even though we have not added this reporting feature yet (coming in January, 2013) we are already tracking all your referrals properly.</p>
    </div>
    <div>

      <h2 id="toc_3">How we reward you</h2>
      <p>The first 2 prizes are for the people who refer the largest number of people to sign up for AC Cloud or AC Enterprise before June 1st 2013. From January 2013, we will show your current position in your AC Console.

      <h3 id="toc_4">1st Prize</h3>

      <p>A copy of AC Enterprise or AC Cloud with 10 developer seats free for life <b>plus</b> a really special extra prize that will be announced before Christmas.</p>

      <h3 id="toc_5">2nd Prize</h3>
      <p>A copy of AC Enterprise or AC Cloud with 10 developer seats free for life.</p>

      <h3 id="toc_5">10 More Prizes</h3>
      <p>An AC Cloud subscription, free for life.</p>

      <h3 id="toc_6">Earn Free AC Cloud Usage</h3>

      <ul>
      <li>For every person you refer that subscribes to AC Cloud, we will give you a free Month.</li>
      <li>If 6 or more people subscribe to AC Cloud, then you will get a free Year.</li>
      <li>If 20 or more people subscribe, then you will get AC Cloud free for 5 Years </li>
      </ul>

    </div>
  </section>

</div>

<% content_for :head do %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({
      publisher: "de0267ba-7463-4214-8776-a3c6551e61e2",
      onhover:true,
      headerTitle:'AC Referral Program',
    });
  </script>
<% end %>
