---
title: Referral Program
active_submenu: referral
active_submenu_item: /referral-program#toc_0
---

<p>The Application Craft Referral Program is the easiest way to refer your friends and colleagues to sign up for our free trial. The more people you refer, the better you will be rewarded.</p>

<h2 id="toc_0">How to Refer</h2>

<p>It's very simple really:</p>

<ul>
  <li>Enter your email address</li>
  <li>Click on as many of the social sites you want to refer through. You can also recommend through email (it's the first button).</li>
</ul>

<form id="referral-form">
  <input type="text" name="email" id="referral-email" placeholder="Enter your email address..." size="50">
  <input type="submit" value="Start" class="btn">
</form>
<div id="shareThisShareEgg" class="shareEgg"></div>

<h2 id="toc_1">How we track it</h2>

<p>We use your email address to track anyone that signs up to our platform and also anyone who then goes on to buy. Each referral mechanism you choose will include something so we know we have you to thank.</p>

<h2 id="toc_2">How you track it</h2>

<p>When you sign in to your Application Craft account, you will be able to see stats on</p>

<ul>
<li>A list of people who have signed up thanks to your referral</li>
<li>A list of anyone who has purchased AC Cloud</li>
</ul>

<h2 id="toc_3">How we reward you</h2>

<h3 id="toc_4">1st Prize</h3>

<p>An all expenses paid the UK, New York or San Francisco worth $4,000. If you choose the UK, we&#39;ll throw in 2 tickets to a Shakespeare play in his and our howme town of Stratford-upon-Avon and Founder Freddy May will take you for a darned good meal afterwards. If you choose New York, we&#39;ll get you a couple of Broadway tickets and dinner, too.</p>

<h2 id="toc_5">2nd Prize</h2>

<p>A copy of AC Enterprise or AC Cloud free for life.</p>

<h2 id="toc_6">Other Rewards</h2>

<ul>
<li>For every 3 people person that sign up from your referral, you will get one month for free.</li>
<li>For every person that subscribes to AC Cloud, we will give you a free Month.</li>
<li>If 6 or more people subscribe to AC Cloud, then you will get a free Year.</li>
<li>If 20 or more people subscribe, then you will get AC Cloud free for 5 Years </li>
</ul>



<% content_for :head do %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c45d43ad-4a39-4d16-a120-027b71b854c1"});</script>
<% end %>
