---
title: Referral Program
class_name: referral-program
full_width: true
---

<header>
  <div class="container">
    <div>
      <h1>Referral Program</h1>
      <h2>Tasty rewards for telling your friends about Application Craft</h2>
    </div>
  </div>
</header>


<div class="container">

  <section id="coupon">
    <div>

      <h1><span class="logo">Application <span>Craft</span></span> Referral Program</h1>

      <h2>Save $$$ - Win Prizes!</h2>
      <h3>To start referring, just enter your email below.</h3>

      <div class="form">
        <form id="referral-form">
          <input type="text" name="email" id="referral-email" placeholder="Enter your email address to start...">
          <input type="submit" value="Start" class="btn">
        </form>
      </div>

      <p class="terms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eum illum nemo doloribus aspernatur voluptatibus consequuntur veritatis itaque molestiae ab asperiores libero illo nisi. Omnis quas repellat ea vero architecto! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias recusandae ad inventore cumque corporis atque minus nihil error architecto doloremque temporibus aliquid quae quos tempore ut quibusdam nam! Voluptatum corporis?</p>

    </div>
  </section>

  <section id="referral-text" class="clearfix">
    <div>

      <h2 id="toc_0">How to Refer</h2>

      <p>You can refer in one of two ways. In both cases, just go ahead and enter your email in the form above.</p>

      <ul>
        <li><strong>Refer by Email, Twitter, Facebook, Linked In</strong> : after entering your email address you can click on one of the social icons and it should be clear what to do next.</li>
        <li><strong>Blog or Web Site link</strong> : after entering your email address, you will see a URL, which you can copy and paste to your blog or site.</li>
      </ul>

      <h2 id="toc_1">How we track referrals</h2>
      <p>We use your email address to track anyone that signs up or buys. You can then see how your referrals are doing from your Application Craft account. </p>

      <h2 id="toc_1">How you can track your referrals</h2>
      <p>Login to your Application Craft account and then click on the button with your name on it (located in the top right of the AC Console) and you will see the Referral Prgoram option.</p>      
    </div>
    <div>

      <h2 id="toc_3">How we reward you</h2>
      <p>The first 2 prizes are for the people who refer the largest number of people to sign up for AC Cloud or AC Enterprise before June 1st 2013. From January 2013, we will show your current position in your AC Console.

      <h3 id="toc_4">1st Prize</h3>

      <p>An all expenses paid trip to the UK, New York or San Francisco worth $4,000. If you choose the UK, we&#39;ll throw in 2 tickets to a Shakespeare play at the famous RSC in Stratford-upon-Avon, Shakespeare's and our home town. Founder Freddy May will accompany you and take you for a darned good meal afterwards. If you choose New York, we&#39;ll get you a couple of Broadway tickets and dinner, too.</p>

      <h3 id="toc_5">2nd Prize</h3>
      <p>A copy of AC Enterprise or AC Cloud with 10 developer seats free for life.</p>

      <h3 id="toc_5">10 More Prizes</h3>
      <p>A copy of AC Cloud free for life.</p>

      <h3 id="toc_6">Earn Free AC Cloud Usage</h3>

      <ul>
      <li>For every 3 people that sign up from your referral, you will get one month for free.</li>
      <li>For every person you refer that subscribes to AC Cloud, we will give you a free Month.</li>
      <li>If 6 or more people subscribe to AC Cloud, then you will get a free Year.</li>
      <li>If 20 or more people subscribe, then you will get AC Cloud free for 5 Years </li>
      </ul>

    </div>
  </section>

</div>

<% content_for :head do %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c45d43ad-4a39-4d16-a120-027b71b854c1"});</script>
<% end %>
