---
title: Services
active_menu_item: services
active_submenu: services
meta_keywords: services, mobile application development tools, android, html5, iphone, ios, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, html 5, ipad, windows, blackberry, smartphone, symbian, desktop
class_name: services
full_width: true
---

<header>
  <div class="container">
    <div class="clearfix">
      <div>
        <img width="80" src="/img/products/mb.gif">
      </div>
      <div>
        <h1>Services</h1>
        <h2>Let the experts help you with your development</h2>
      </div>
    </div>
  </div>
</header>

<div id="content-body" class="container">
  <div class="clearfix">
    <aside>
      <% if current_page.data.active_submenu %>
        <ul id="submenu" data-spy="affix" data-offset-top="200">
          <% data.send(current_page.data.active_submenu).submenu.each do |f| %>
            <li class="<%= 'active' if current_page.data.active_submenu_item == f.url %>">
              <a href="<%= f.url %>"><%= f.text %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </aside>

    <article>

      <p id="toc_0"><strong>Need help building your app?</strong> Look no further. If you are looking to build a web or mobile application then the expert developers of the Application Craft Services team is here to help.</p>

      <p>Types of applications we build:</p>

      <ul>
        <li>Front Ends</li>
        <li>Web apps for desktop and mobile front-ends to any database or web service</li>
        <li>App Store deployable HTML5 applications on iOS, Android, Windows &amp; Blackberry</li>
        <li>Back Ends</li>
      </ul>

      <p>Our skilled services developers can create cross-platform applications using the Application Craft development platform. We can create any kind of app for any purpose, spanning across many industries and sectors, such as:</p>

      <ul>
        <li>e-Commerce (ordering systems, payments)</li>
        <li>Business</li>
        <li>Finance and productivity</li>
        <li>Healthcare</li>
        <li>Media (music, photo, video)</li>
        <li>Social media</li>
      </ul>

      <div class="clearfix" id="services-showcase">
        <div id="services-showcase-coke">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20CCE.pdf" class="mb-thumb"></a>
          <ul>
            <li>In-store product monitoring.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20CCE.pdf">tell me more...</a></li>
          </ul>
        </div>
        <div id="services-showcase-hcri">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20HCRI.pdf" class="mb-thumb"></a>
          <ul>
            <li>Healthcare and electronic patient record application.</li>
            <li>Multilingual survey system.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20HCRI.pdf">tell me more...</a></li>
          </ul>
        </div>
        <div id="services-showcase-ndtech">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20NDTECH.pdf" class="mb-thumb"></a>
          <ul>
            <li>Field-based CRM application for heating engineers.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20NDTECH.pdf">tell me more...</a></li>
          </ul>
        </div>
      </div>

      <hr>

      <p><strong><a href="#toc_3">Contact us</a> to discuss how an application development project could improve your business.</strong></p>

      <hr>

      <h2 id="toc_1">Why Application Craft?</h2>

      <p>Many people come to us who have tried to develop their apps offshore. The cost is initially very appealing but they soon realize that without the proper key ingredients &ndash; proper communication, management, and expertise &ndash; this is money down the drain and a big delay in your time to market. Application Craft provides you those key ingredients along with very reasonably priced development charges. Our experienced consultants work with you to understand the business and processes and can engineer an application development project which will drive your business strategy forward, whether it is across a department or across an enterprise.</p>

      <p>Application Craft also offers the cross-platform advantage. One of the great benefits of using HTML5 technology is that we can build single apps that run on desktops, tablets and smartphones. This saves a great deal of cost and gives you plenty of flexibility. Mobile apps are able to access all device hardware such as Accelerometer, Compass, GPS etc.</p>

      <h2 id="toc_2">Developing Your Application: The Process</h2>

      We follow a clear 3 stage developer process that involves the customer at all stages. Here is a brief summary of what you will experience if you use our services:

      <h3>Consultation</h3>

      <h4>Stage 1: Free initial consultation</h4>

      <ul>
        <li>We spend 30-60 minutes with you getting a high level overview of your project.</li>
        <li>We ask you to send us a specification document. The better your specification, the lower the cost will be.</li>
        <li>We ask you to produce Wireframe images of your application’s front-end. <i>Tip: Try using <a href="http://www.balsamiq.com" target="_blank">Balsamiq</a> for this.</i></li>
        <li>We give you a very approximate project estimate. At this stage it is a simple range and is nothing more than an estimate.</li>
        <li>At this stage you can decide whether you want to progress with us or not. If you do, then on to the next stage!</li>
      </ul>

      <h4>Stage 2: Consultation charge before we begin actual development</h4>

      <ul>
        <li>We take your specification and embark on a full analysis of the project. This is where a great spec and comprehensive wireframe mockups will save time and, therefore, cost.</li>
        <li>Depending on the project size we will take between one and five days to produce our specification with two days being typical.</li>
        <li>We produce a detailed project breakdown where we detail each component task. All this information is available in our web-based portal so we can explain the project structure and cost in full detail.</li>
      </ul>

      <h3>Development</h3>

      <h4>Stage 3: The developing begins</h4>

      <ul>
        <li>Once development starts, you can follow our progress in the online Gantt chart within the portal.</li>
        <li>We deliver updates to you on a continuous basis.</li>
        <li>All bug tracking is handled through the same portal using a full ticketing system.</li>
        <li>Testing is a crucial part of the project and one that you are heavily involved in. We schedule testing and associated fixing into the project.</li>
        <li>Once the project is completed, we hand over all source code to you so you are free to manage the ongoing development yourself if you wish.</li>
      </ul>

      <h2 id="toc_3">Contact Us</h2>

      <p>Write to us using the form below and we will get in touch with you quickly. Or you can <a href="mailto:sales@applicationcraft.com">email</a> us directly.</p>

      <script src="http://ac-static.applicationcraft.com/ac/1.20/live/userlive.js" type="text/javascript"></script>

      <script type="text/javascript">
        waInitForm("c6bb97f9-e26d-49ee-83dc-043209afb2bc", 650, 400, null, null, null, "http://ac.applicationcraft.com/live.html");
      </script>

    </article>
  </div>
</div>
