---
title: Services
active_menu_item: services
active_submenu: services
meta_keywords: services, mobile application development tools, android, html5, iphone, ios, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, html 5, ipad, windows, blackberry, smartphone, symbian, desktop
class_name: services
full_width: true
---

<header>
  <div class="container">

    <div>
      <h1>Services</h1>
      <h2>We built the Application Craft and Codio platforms, demonstrating a deep experience in front and back end technologies. Our large team of world-class developers can also build your Startup, Departmental or Enterprise solution, so please get in touch!</h2>
    </div>

    <div class="clearfix">
      <div class="front-end">
        <div><%= image_tag 'services/front-end.png', :width => 240 %></div>
        <h3>Front-End</h3>
        <p>We speak HTML5+CSS+JS fluently as well as many front-end frameworks and libraries</p>
      </div>
      <div class="cross-platform">
        <div><%= image_tag 'services/cross-platform.png', :width => 230 %></div>
        <h3>X Platform</h3>
        <p>We build cross-platform, responsive applications and sites for desktop and mobile</p>
      </div>
      <div class="back-end">
        <div><%= image_tag 'services/back-end.png', :width => 220 %></div>
        <h3>Back-End</h3>
        <p>Node.js, Java, Ruby and .Net with SQL and NoSQL databases</p>
      </div>
    </div>

    <div class="get-in-touch nofade">
      <p>
        Contact us at our sister site <a href="http://crafted.io/">crafted.io</a> to discuss how an application development project could improve your business.
      </p>
      <a href="http://crafted.io/#contactus" class="button">GET IN TOUCH</a>
      <div class="clearfix"></div>
    </div>
  </div>
</header>