---
title: Services
active_menu_item: services
active_submenu: services
meta_keywords: services, mobile application development tools, android, html5, iphone, ios, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, html 5, ipad, windows, blackberry, smartphone, symbian, desktop
class_name: services
full_width: true
---

<header>
  <div class="container">
    <div class="get-in-touch nofade noexpand">
      <a href="http://crafted.io/" class="nowebinar"><%= image_tag 'crafted-logo.png', :class => 'logo' %></a></li>

      <h2>Cutting edge technology solutions, tailored to your business.</h2>

      <p>Crafted.io is Application Craft's Services organisation, building cross-platform, responsive applications and sites for desktop and mobile.</p>
      <div class="clearfix"></div>
      <a href="http://crafted.io/" class="button nowebinar">GO TO CRAFTED</a>
      <p class="centered">This page with automatically redirect to Crafted in 5 seconds.</p>
    </div>
  </div>
  <% content_for :foot do %>
    <%= javascript_include_tag 'services' %>
  <% end %>
</header>